section.cfh-home-1
	.row.no-gutters
		.col-lg-8.col-xl-9
			.swiper-container(data-aos='fade-up')
				.swiper-wrapper
					.swiper-slide
						img(src="./img/1.jpeg", alt="")
					.swiper-slide
						img(src="./img/2.jpg", alt="")
				.swiper-navigation
					.swiper-btn.swiper-prev
						em.mdi.mdi-chevron-left
					.swiper-btn.swiper-next
						em.mdi.mdi-chevron-right
		.col-lg-4.col-xl-3
			.content-wrapper(data-aos='fade-up')
				.logo
					img(src="./img/logo.png", alt="")
				.text
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
				.viewMore
					a(href="javascript:void(0)") View More