section.cfh-home-2
	.cfh-title(data-aos='fade-up')
		h2 About
		.sec-num
			span 01
	.main-wrapper
		.container
			.row.justify-content-center
				.col-lg-4.align-self-center.col-md-6(data-aos='fade-right')
					.text-wrapper
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit asperiores molestias illum sapiente libero tempore vel blanditiis quos, deserunt, ipsam porro expedita iste distinctio ea cumque quia aspernatur dignissimos nesciunt!\Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit asperiores molestias illum sapiente libero tempore vel blanditiis quos, deserunt, ipsam porro expedita iste distinctio ea cumque quia aspernatur dignissimos nesciunt!
				.col-lg-4.align-self-center.col-md-6(data-aos='fade-right')
					.image-wrapper
						img(src="./img/4.jpg", alt="")