section.home-2
	.title
		h2 About
		.sec-num
			span 01
	.container
		.row.justify-content-center
			.col-lg-5.align-self-center.col-md-6
				.text-wrapper
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit asperiores molestias illum sapiente libero tempore vel blanditiis quos, deserunt, ipsam porro expedita iste distinctio ea cumque quia aspernatur dignissimos nesciunt!\
			.col-lg-5.align-self-center.col-md-6
				.image-wrapper
					img(src="./img/4.jpg", alt="")