footer.cfh-footer
	.container
		.main-wrapper
			.logo
				img(src="./img/logo.png", alt="")
			.info
				p 1234 ABC Rd, Fort Worth. Texas
					br
					| Tel: +1 862 203 1334
			.desc 
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
	.copyright
		p © 2019 P2B Gravel Media. All rights reserved.