section.cfh-home-5
	.cfh-title(data-aos='fade-up')
		h2 Contact
		.sec-num
			span 04
	.main-wrapper(data-aos='fade-left')
		.text
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
		.contact
			a(href="javascript:void(0)") Liên hệ ngay
		.map
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.7891539794214!2d106.67056795040297!3d10.358736992569476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31754e2ba8ac2dad%3A0x8d7041d3e9843e84!2zxJDhu51pIFBob3Rv!5e0!3m2!1sen!2s!4v1520663647472" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen="")