header.cfh-header
	.header-wrapper
		.container
			.top-wrapper
				.header-logo
					img(src="./img/logo-1.png", alt="")
				.header-button
					span menu
					.toggle-button
						.button
	.backdrop
	.main-nav
		.logo
			img(src="./img/logo.png", alt="")
		ul
			li.active(data-to='2')
				a(href="javascipt:void(0)") About
			li(data-to='3')
				a(href="javascipt:void(0)") Service
			li(data-to='4')
				a(href="javascipt:void(0)") Gallery
			li(data-to='5')
				a(href="javascipt:void(0)") Contact