section.cfh-home-4
	.cfh-title(data-aos='fade-up')
		h2 Gallery
		.sec-num
			span 03
	.main-wrapper
		.container
			.row
				.col
					.swiper-container(data-aos='fade-up')
						.swiper-wrapper
							.swiper-slide
								img(src="./img/1.jpeg", alt="")
							.swiper-slide
								img(src="./img/2.jpg", alt="")
							.swiper-slide
								img(src="./img/1.jpeg", alt="")
							.swiper-slide
								img(src="./img/1.jpeg", alt="")
							.swiper-slide
								img(src="./img/1.jpeg", alt="")
						.swiper-pagination