section.cfh-home-3
	.cfh-title
		h2 Service
		.sec-num
			span 02
	.main-wrapper
		.container
			.row
				.col-md-4.item
					figure
						.img
							img(src="./img/icon-1.png", alt="")
						figcaption
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ips
				.col-md-4.item
					figure
						.img
							img(src="./img/icon-2.png", alt="")
						figcaption
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
				.col-md-4.item
					figure
						.img
							img(src="./img/icon-3.png", alt="")
						figcaption
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis